.mac-dock-container {
  cursor: default;
  user-select: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 5px;
  height: 60px;
  color: white;
}

.mac-dock {
  $vertical-margin: 15px;
  border-radius: 12px;
  min-width: 10%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  border: solid 1px #333;
  padding-left: $vertical-margin;
  @keyframes bounce {
    0% {
      margin-bottom: 0;
    }
    50% {
      margin-bottom: 50px;
    }
    100% {
      margin-bottom: 0;
    }
  }
  .mac-dock-item-container {
    height: 80%;
    width: 38px;
    margin-right: $vertical-margin;
    animation-name: bounce;
    animation-duration: .8s;
    animation-play-state: paused;
    img {
      border-radius: 7px;
      height: 38px;
      width: 38px;
    }

    span {
      margin-top: -5px;
      color: #a3a7b1;
    }
  }

  .mac-dock-bubble {
    position: absolute;
    bottom: 65px;
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
  }
}
