.mac-status-bar-container {
  cursor: default;
  font-size: 14px;
  height: 100%;
  user-select: none;
  color: #eee;
  font-weight: 500;

  .mac-status-bar {
    z-index: 9998;
    height: 26px;
    padding: 1px 5px;
    box-shadow: 0 2px 10px 1px rgba(113, 113, 115, 0.7);
    background: rgba(0, 0, 0, 0.5);

    img {
      height: 18px;
      width: 18px;
      margin-left: 11px;
      margin-right: 5px;
    }
  }

  .mac-status-bar-item {
    margin-top: 1px;
    padding: 0 11px 0;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
  }

  .item-clicked {
    background-color: #686868;
  }

  $menu-item-padding: 2px;

  .mac-status-bar-menu {
    z-index: 9999;
    background: rgba(60, 60, 60, 0.85);
    margin-left: 5px;
    margin-top: 1px;
    padding-bottom: 2*$menu-item-padding;
    padding-left: 2*$menu-item-padding;
    padding-right: 2*$menu-item-padding;
    box-shadow: 0 5px 10px 1px rgba(102, 102, 102, 0.5);
    border-radius: 5px;
    border: solid 1px rgba(153, 153, 153, 0.7);
    border-top: none;
    max-width: 150px;

    .mac-status-bar-menu-divider {
      margin-top: 2*$menu-item-padding;
      border-bottom: solid 1px rgba(102, 102, 102, 0.5);
      width: 100%;
    }

    .mac-status-bar-menu-has-sub {
      font-weight: 600;
      margin-right: 5px;
    }

    .mac-status-bar-menu-item {
      margin-top: $menu-item-padding;
      padding-left: 3*$menu-item-padding;
      padding-right: 3*$menu-item-padding;
      border-radius: 3px;
    }

    .mac-status-bar-menu-item:hover {
      background: #1759bb;
    }
  }
}
