$btn-side: 7vw;
$btn-margin-right: 5vw;
$btn-each-row: 6;
$btn-box-padding: 100-($btn-each-row*$btn-side)-($btn-each-row*$btn-margin-right);

input {
  outline: none;
  background: none;
  width: 30%;
  padding-left: 0.5vw;
}

.search-clicked {
  animation: clickSearch 0.2s;
  width: 100%;
}

.mac-launchpad-spotlight {
  @apply flex flex-row justify-center items-center;
  height: 5vh;
  margin-bottom: 4vh;
  margin-top: 2vh;


  .mac-launchpad-spotlight-box {
    @apply flex flex-row justify-center items-center;
    padding-left: 1vw;
    width: 250px;
    height: 25px;
    background: rgba(85, 85, 85, 0.2);
    border: solid 1px rgba(153, 153, 153, 0.5);
    border-radius: 4px;
    color: #BBB;
  }
}

.mac-launchpad-btn-group {
  @apply flex flex-row flex-wrap;
  padding: 0vh calc($btn-box-padding/2)-$btn-margin-right 10vh calc($btn-box-padding/2)+calc($btn-margin-right/2);
  width: 100%;
  height: 100%;
}

.mac-launchpad-btn {
  @apply flex flex-col items-center;
  width: $btn-side;
  margin-right: $btn-margin-right;
}

.mac-launchpad-btn-icon {
  margin-bottom: 1vh;
  width: inherit;
  height: $btn-side;
  border-radius: 30px;
}

.mac-launchpad-btn-name {
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mac-launchpad {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("//mydblog.obs.cn-east-3.myhuaweicloud.com/mojave.jpg");
  background-size: 100% 100%;
  animation: blurFadeIn 0.2s ease-in backwards;
}

.mac-launchpad::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("//mydblog.obs.cn-east-3.myhuaweicloud.com/mojave.jpg");
  background-size: 100% 100%;
  filter: blur(7px);
  z-index: -1;
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes clickSearch {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}
